body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
  box-sizing: border-box;
  padding: 0%;
  
  
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main_div{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(161, 181, 248);
}
.center_div{
  width:400px;
  height:500px;
  border-radius: 25px;
  box-shadow: 10px 15px 15px   black ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: navajowhite;
  overflow:auto;
}
h2{
  background-color: azure;
  margin: 5px;
  width:inherit;
  text-align: center;
}
input{
  padding: 20px 20px;
  
}
button{
  cursor: pointer;
  text-align: center;
  margin-left: 15px;
  width:40px;
  height:40px;
  border-radius: 50%;
  font-size: 40px;
  color:white;
  background-color: brown;
}
button:hover{
  background-color: green;
}
ol{
  list-style-type: none;
}
.List{
  display: flex;
}



